# Docker Compose
docker-compose.yml

# SillyTavern
sillytavern/config/**
!sillytavern/config/.gitkeep
sillytavern/data/**
!sillytavern/data/.gitkeep
sillytavern/user/**
!sillytavern/user/.gitkeep

# Models
models/**
!models/.gitkeep